Source: nadir
Section: x11
Priority: extra
Maintainer: Juan Roldan Ruiz <juan.roldan@gmail.com>
Build-Depends: debhelper (>= 7), cmake, libqt4-dev, libasound2-dev, libjack-dev, libxtst-dev, libxt-dev
Standards-Version: 3.8.4
Homepage: http://sourceforge.net/projects/nadir

Package: nadir
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Screen scanner utility
 This is a screen scanner utility which allows the user to control the mouse
 pointer by using the keyboard, the mouse itself, by making physical movements
 grabbed by a camera or by producing sounds which are recorded by a microphone.
 .
 This software is a screen scanner utility for people who are not able to use
 the mouse whithout a minimum of accuracy. The application makes an horizontal
 and a vertical scan of the screen so that the user can reach any location of 
 the screen and virtually produce any mouse event (click, drag...) in that 
 location.
 .
 The application offers these modes to perform the scan:
 - Pressing any key of the keyboard
 - Producing a sound by using a microphone
